.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: var(--primary-color);
}

.row {
  display: flex;
}

.footer__text {
  line-height: 30px;
  color: rgba(255, 255, 255, 0.735);
}


.footer__quick_links ul li {
  background: transparent !important;
}

.footer__quick_links ul li {
  color: rgba(255, 255, 255, 0.735);
}

.quick__links_title {
  margin-bottom: 30px;
  color: #fff;
  font-size: 1.1rem;
}

.footer__contact li span,
.footer__contact li p {
  color: rgba(255, 255, 255, 0.735);
}

.footer__contact li span {
  font-size: 1.2rem;
}

.footer__contact li p {
    font-size: 0.9rem;
}

.footer__copyright {
    color: rgba(255, 255, 255, 0.735);
    font-size: 0.9rem;
    margin-top: 50px;
    text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.logo img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  color: white;
  fill: white;
  transform: rotate(-12deg);
}


@media only screen and (max-width: 992px) {
  .footer__quick_links {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}